header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    
    img{
        width: 20%;
        margin-left: 2em;
    }
    
    .headerClassLinks{
        padding-top: 1.9em;
        display: flex;

        align-items: baseline;
        a{
            text-decoration: none;
            color:red;
            justify-content: center;
            margin-left: 3vw;
            margin-right: 3vw;
            font-size: 1.3em;
        }
        .active{
            text-decoration: underline;
        }
    }
}
@media only screen and (max-width:700px){
    header{
        img{
            margin-left: 3%;
            width: 40%;
    }
    a{
        font-size: 0.8em !important;
    }

}}

