.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PageNotFound{
    color:#FF6060;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    h1{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 10em;
    }
    p{
        font-size: 2em;
        margin-bottom: 5em;
        text-align: center;
    }
    a{
        color: #FF6060;
        font-size: 1.5em;
    }

}
@media only screeen and (max-width:700px){

}