.Acceuil{
    text-decoration: underline;
}
.body{
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;


}

.Baniere{
    background-color: green;
    height: 14em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-image: url(../../../assets/Baniere.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:20px;
    display: flex;
    p{
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5em;
        font-size: 48px;
        color: white;
        }
}
@media only screen and (max-width:700px){
    .Baniere{
        height: 10em;
        p{
            margin-top: 1.2em;
            font-size: 1.9em;
            margin-left: 5vw;
            span{
                display: block;
            }
        }
    }    


}